COMPOSE_PROJECT_NAME=app
#nginx
NGINX_PORT=1115
NGINX_SSL_PORT=443

#db
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_PORT=5432

#back
APP_ENV=dev
APP_DEBUG=1
BACKEND_PORT=8000

#front
FRONTEND_PORT=5173
VITE_API_URL=/api